@charset "UTF-8";

$breakpoints: (
  'sp': 'screen and (max-width: 767px)',
  'pc': 'screen and (min-width: 768px)'
  ) !default;

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

$primary-color: #757662;
$font-color: #333;
$logo-color: #88c1fa;



@include mq(sp) {
  .is-pc {
    display: none;
  }
}

@include mq(pc) {
  .is-sp {
    display: none;
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-size: 14px;
  color: $font-color;
  overflow-X: hidden !important;
  font-family: 'ヒラギノ明朝 ProN',
    serif;

}

.inner {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  font-size: 40px;
  position: relative;
  text-align: center;
  padding-bottom: 16px;
  margin-bottom: 50px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url(../img/wave.png);
    width: 120px;
    height: 30px;
    top: 30px;
    left: 50%;
    z-index: 10;
    opacity: 0.3;
    background-size: 94% auto;
    transform: translateX(-50%
    );
}
}

.drawer--right {
  margin-left: 0 !important;
}

.logo-sticky {
  width: 100%;
  height: 710px;
  position: relative;
  margin-bottom: 50px;

  @include mq(sp) {
    height: 560px;
    margin-bottom: 0;
  }

}



.drawer-nav1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 50px;
  background-color: #fff;
  color: $font-color;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  display: none;

  @include mq(sp) {
    display: none !important;
  }


  .header__nav {
    display: flex;
    justify-content: center;

    @include mq(sp) {
      display: none;
      text-align: right;
      margin-right: 15px;
      margin-top: 25px;
    }

    li {
      height: 50px;

      @include mq(sp) {
        height: 59px;
      }

      a {
        height: 50px;
        padding: 17px;
        color: $font-color;

        @include mq(pc) {
          transition: color 0.3s;
          margin: 0 10px;

          &:hover {
            color: $primary-color;
          }
        }

        @include mq(sp) {
          height: 60px;
          line-height: 60px;
          font-size: 19px;
          padding: 10px;

        }

      }
    }
  }
}

.drawer-nav1.show {
  top: 0;
}

// header
.header {
  width: 100vw;
  height: 110px;
  z-index: 111;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  @include mq(sp) {
    height: 60px;
    position: fixed;
  }


  .header__inner {
    text-align: center;
    width: 100vw;
    height: 110px;

    @include mq(sp) {
      height: 60px;
    }

    .logo-wrapper {

      .logo {
        width: 120px;
        margin: 0 auto;
        z-index: 1000;
        height: 60px;
        line-height: 40px;
        background-color: #fff;
        position: -webkit-sticky;
        position: sticky;
        top: 0;



        .logo__link {
          height: 60px;
          width: 100px;
          position: relative;


          .logo__text {
            padding-top: 10px;
            font-size: 30px;

            @include mq(sp) {
              padding: 5px 0 15px;
            }

            &::after {
              content: "";
              position: absolute;
              background-image: url(../img/wave.png);
              width: 120px;
              height: 30px;
              top: 30px;
              right: 0px;
              z-index: 1000;
              opacity: 0.3;
              background-size: 94% auto;

              @include mq(sp) {
                top: 25px;
              }
            }
          }





        }
      }


    }

    .drawer-hamburger {
      @include mq(pc) {
        display: flex;
      }

      @include mq(sp) {
        z-index: 1000;
      }

      .drawer--right & {
        right: 3px;
      }

      .drawer-hamburger-icon {
        background: $font-color;
        width: 30px;

        .drawer-open & {
          background-color: transparent;
        }

        &::before {
          background: $font-color;

        }

        &::after {
          background: $font-color;

        }
      }
    }



    .drawer-nav {
      background-color: #fff;
      width: 100%;
      color: $font-color;
      overflow-x: hidden !important;

      @include mq(sp) {
        width: 130px;
        margin-top: 60px;
        margin-left: 30px;
        padding-top: 20px;
      }

      .header__nav {
        display: flex;

        @include mq(pc) {
          justify-content: center;
          margin: 0 auto;
        }

        @include mq(sp) {
          display: block;
          margin-left: 15px;
          margin-top: 0px;
        }

        li {
          height: 50px;

          @include mq(sp) {
            height: 59px;
          }

          a {

            height: 50px;
            padding: 17px;
            -webkit-transition: all 0.35s ease;
            transition: all 0.35s ease;
            position: relative;
            color: $font-color;

            @include mq(pc) {
              transition: color 0.3s;
              margin: 0 10px;

              &:hover {
                color: $logo-color;
              }
            }

            @include mq(sp) {
              height: 60px;
              line-height: 60px;
              font-size: 19px;
              padding: 10px;
              color: $font-color;

              &::after {
                content: '';
                position: absolute;
                bottom: -7px;
                background-image: url(/dobbys/img/orange.png);
                left: -30px;
                transition: .6s;
                opacity: 0;
                width: 50px;
                height: 50px;
                background-size: 50px;
              }

              &:hover:after {
                opacity: 1;
                transform: rotateY(360deg);
              }

              &:hover {
                color: $logo-color;
              }
            }

          }


        }
      }
    }
  }
}

@include mq(pc) {

  @import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

  .snip1155 {

    text-align: center;

    font-weight: 500;
  }


  .snip1155 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }

  .snip1155 li {
    display: block;
    list-style: outside none none;
    padding: 0;
  }

  .snip1155 a {
    display: block;
    padding: 0.5em 17px;
    position: relative;
    letter-spacing: 1px;
    text-decoration: none;
  }

  .snip1155 a:before {
    left: 20%;
    right: 20%;
    top: 50%;
    content: '';
    border-left: 12px solid $logo-color;
    border-right: 12px solid $logo-color;

    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 3px;
    opacity: 0;
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }

  .snip1155 a:hover,
  .snip1155 .current a {
    color: #ffffff;
  }

  .snip1155 a:hover:before,
  .snip1155 .current a:before {
    left: 0;
    right: 0;
    opacity: 0.6;
  }


  html {
    height: 100%;
  }

  body {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    margin: 0;
    height: 100%;
  }
}

// header-end



// main-visual
.main-visual {

  height: 600px;
  margin-bottom: 150px;
  position: relative;
  background-color: #fff;

  @include mq(sp) {
    height: 350px;
  }


  .slideshow {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;

    @include mq(sp) {
      height: 350px;

    }
  }

  .slideshow img {
    max-width: 1900px;
    width: 110vw;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    object-fit: cover;

    @include mq(sp) {

      max-width: 1000px;
      height: 500px;


    }

  }

  .slideshow .top1 {
    animation: slideLeftToRight 20s linear;
    width: 110vw;

    @keyframes slideLeftToRight {
      0% {
        transform: translateX(-5%);
      }

      100% {
        transform: translateX(0);
      }
    }
  }

  .slideshow .top2 {
    animation: slideLeftToRight 20s linear;
    animation-delay: 8s;

    @keyframes slideLeftToRight {
      0% {
        transform: translateX(-5%);
      }

      100% {
        transform: translateX(0);
      }
    }
  }

  .slideshow .top3 {
    animation: slideLeftToRight 20s linear;
    animation-delay: 16s;

    @keyframes slideLeftToRight {
      0% {
        transform: translateX(-5%);

      }

      100% {
        transform: translateX(0);
      }
    }
  }

  .slideshow .top4 {
    animation: slideLeftToRight 20s linear;
    animation-delay: 24s;

    @keyframes slideLeftToRight {
      0% {
        transform: translateX(-5%);

      }

      100% {
        transform: translateX(0);

      }
    }
  }

  .slideshow .top5 {
    animation: slideLeftToRight 20s linear;
    animation-delay: 32s;

    @keyframes slideLeftToRight {
      0% {
        transform: translateX(-5%);
      }

      100% {
        transform: translateX(0);

      }
    }
  }



  .slideshow img.active {
    opacity: 1;

  }

}



.main-visual-items {
  max-width: 100%;
  width: 100vw;
  height: 300px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: -300px;

  @include mq(sp) {
    height: 200px;
    top: 45px;

  }

  .main-visual-item {
    background-color: rgba(51, 51, 51, 0.7);
    color: #fff;
    content: "";
    position: absolute;
    bottom: 40px;
    left: 0;
    margin-left: 40px;
    width: 100%;
    max-width: 400px;
    height: 300px;
    overflow: hidden;

    @include mq(sp) {

      position: static;
      margin: -265px auto 0;
      top: 0px;
      max-width: 90vw;
      height: 200px;
    }
  }


  .main-visual-title {
    margin: 40px 30px;
    font-size: 24px;
    line-height: 1.4;

    @include mq(sp) {
      font-size: 18px;
      margin: 0;
      padding: 25px 0;

      br {
        display: none;
      }
    }
  }

  .main-visual__text-wrapper {
    margin: 30px;
    font-size: 18px;

    @include mq(sp) {
      font-size: 16px;
      margin: 0;
      padding: 10px 0 41px;

    }

    .main-visual__text {
      font-size: 14px;
      line-height: 1.5;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      @include mq(sp) {
        font-size: 13px;

      }
    }
  }
}

.spiral-top::before,
.spiral-top::after,
.spiral-bottom::before,
.spiral-bottom::after {
  content: " ";
  background: $logo-color;
  position: absolute;
  -webkit-box-shadow: 0 0 7px 0 $logo-color;
  box-shadow: 0 0 7px 0 $logo-color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.spiral-top::before {
  top: 0px;
  left: 0px;
  width: 1px;
  height: 0px;
}

.spiral-top::after {
  top: 0px;
  right: 0px;
  width: 0px;
  height: 1px;
}

.spiral-bottom::before {
  bottom: 0px;
  left: 0px;
  width: 0px;
  height: 1px;
}

.spiral-bottom::after {
  bottom: 0px;
  right: 0px;
  width: 1px;
  height: 0px;
}

.main-visual-item:hover .spiral-top::before {
  height: 300px;

  @include mq(sp) {
    height: 0;

  }
}

.main-visual-item:hover .spiral-top::after {
  width: 400px;

  @include mq(sp) {
    width: 0;

  }
}

.main-visual-item:hover .spiral-bottom::before {
  width: 400px;

  @include mq(sp) {
    width: 0;

  }
}

.main-visual-item:hover .spiral-bottom::after {
  height: 300px;

  @include mq(sp) {
    height: 0;

  }
}

// main-visual

//about



@keyframes sheen {
  0% {
    transform: skewX(-60deg) translateX(12.5em);
  }

  100% {
    transform: skewX(-60deg) translateX(-1em);
  }
}

.about {
  margin: 50px auto 150px;

  .about-inner {
    .about-items {
      margin: 0 auto;
      width: 90vw;

      .about-item {
        display: flex;
        max-width: 1200px;
        align-items: center;
        justify-content: center;

        &:first-child {
          margin-bottom: 50px;
        }

        @include mq(sp) {
          display: flex;
          flex-direction: column;
          align-items: center;

        }

        .about-img-wrapper {
          width: 55vw;
          height: auto;
          position: relative;

          &::after {
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            box-shadow: inset 0 0 10px 15px #FFF;
          }

          @include mq(sp) {
            width: 100%;
            order: 1;
          }

          .about-img {
            width: 100%;

          }
        }

        .about-text-wrapper {
          width: 35vw;
          height: auto;
          margin: 0 3vw 0 7vw;
          line-height: 1.4;

          @include mq(sp) {
            width: 100%;
            padding: 30px 20px 0;
            margin: 0;
            order: 2;
          }
        }

        .about-text-wrapper2 {
          margin: 0 6vw 0 4vw;

          @include mq(sp) {
            margin: 0;
          }

        }
      }
    }
  }

  .about-sub {

    width: 100%;
    height: 478px;
    min-width: 0px;
    margin-top: 160px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(/dobbys/img/hair-salon-5049289_1280.jpg) no-repeat center center / cover;
    display: flex;

    @include mq(sp) {
      display: block;
      margin-top: 93px;
      width: 100vw;
      height: auto;

    }

    .about-sub__text-wrapper {
      margin: 0 30px;
      width: 100%;
      height: 100%;
      max-width: 800px;
      display: grid;
      align-items: center;

      @include mq(sp) {
        margin: 0;
      }

      .about-sub__text-inner {
        @include mq(sp) {
          width: 90%;
          margin: 50px auto 30px;
        }

        .about-sub__title {

          font-size: 22px;
          color: #fff;
          margin-bottom: 20px;

          @include mq(sp) {

            font-size: 20px;
          }
        }

        .about-sub__text {

          line-height: (27px / 16px);
          color: #fff;

          @include mq(sp) {
            font-size: 14px;

          }
        }
      }
    }

    img {
      width: 250px;
    }
  }
}

// about-end

// menu
.menu {
  max-width: 1200px;
  height: 100%;
  margin: 100px auto 150px;
  letter-spacing: 1px;

  @include mq(sp) {
    width: 100%;
  }

  .menu__inner {
    width: 100%;

    @include mq(sp) {
      height: 100%;
    }

    .menu-wrapper {
      width: 100%;
      height: 550px;
      overflow: hidden;
      position: relative;

      @include mq(sp) {
        height: 350px;
        align-items: center;
        display: flex;
        justify-content: center;

      }

      .menu-background {

        content: "";
        position: absolute;
        top: 0px;
        left: 50%;
        width: 600px;
        height: 350px;
        background-color: $font-color;
        margin: 0 auto;

        @include mq(sp) {
          display: none;
        }
      }

      .menu-img-wrapper {
        position: relative;
        width: 700px;
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 100px auto 0;
        z-index: 1;

        overflow: hidden;
        transition: opacity 0.5s ease;

        &:hover .menu-circle {
          opacity: 0;

          @include mq(sp) {
            opacity: 1;
          }
        }

        @include mq(sp) {
          margin: 0;

        }

        .menu-img,
        .menu-circle {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
          transition: opacity 0.5s ease-in-out;

          @include mq(sp) {
            filter: brightness(50%);
            height: 350px;
          }
        }

        .menu-img {

          width: 700px;
          height: 350px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          margin: 0 auto 0;
          z-index: 1;

        }

        .menu-circle {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          margin: 0px auto;
          width: 700px;
          height: 350px;
          filter: grayscale(100%);
          z-index: 1;
          opacity: 2;


          @include mq(sp) {
            width: 100%;
            filter: brightness(50%);
          }


        }

        .menu-item {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          overflow: hidden;
          display: inline-block;
          padding: 124px 30px 30px 30px;
          color: #fff;
          text-shadow: 2px 2px 4px black;
          z-index: 100;

          @include mq(sp) {
            padding: 0 0 30px 0;
            left: 50%;
            transform: translateX(-50%);
            width: 300px;
          }

          .menu-text-wrapper {
            border-bottom: 1px solid #fff;
            padding-bottom: 5px;


            .menu-text {
              padding: 20px 5px 0;
              line-height: 1.64;
              letter-spacing: 0px;
              display: flex;

              @include mq(sp) {
                padding: 0 5px;
              }

              span {

                margin-left: auto;
                padding-left: 30px;

                @include mq(sp) {
                  padding-left: 70px;
                }
              }
            }
          }
        }

        .about-btn {
          display: block;
          content: "";
          position: absolute;
          bottom: -20px;
          left: 85%;
          transform: translate(-50%, -50%);
          z-index: 1;

          @include mq(sp) {
            left: 50%;
          }

          .about-btn-click {
            padding: 0.75em 2em;
            text-align: center;
            text-decoration: none;
            color: #333;
            border: 1px solid #333;
            font-size: 24px;
            display: inline-block;
            border-radius: 0.3em;
            transition: all 0.2s ease-in-out;
            position: relative;
            overflow: hidden;
            background-color: #fff;
            width: 155px;

            &:before {
              content: "";
              background-color: rgba(255, 255, 255, 0.5);
              height: 100%;
              width: 3em;
              display: block;
              position: absolute;
              top: 0;
              left: -4.5em;
              transform: skewX(-45deg) translateX(0);
              transition: none;
            }

            &:hover {
              background-color: #333;
              color: #fff;
              border-bottom: 4px solid darken(#333, 10%);

              &:before {
                animation: sheen 0.5s ease-in-out forwards;
                transition: all 0.5s ease-in-out;
              }
            }
          }
        }
      }

      .menu-background2 {

        content: "";
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translateX(-100%);
        width: 600px;
        height: 350px;
        background-color: $font-color;
        margin: 0 auto;
        z-index: 0;

        @include mq(sp) {
          display: none;
        }
      }

      .menu-text-wrapper {

        @include mq(sp) {
          margin: 20px 0 0 0;

          &:first-child {
            margin-top: 40px;
          }
        }

        .menu__title {
          font-size: 20px;
          letter-spacing: 0px;
          line-height: 1.64;
          min-width: 260px;
          max-width: 520px;

          @include mq(sp) {
            width: 345px;
            margin: 0 auto;
            line-height: 1.7;
          }
        }

        .menu__text {
          margin-top: 37px;
          line-height: 1.64;
          letter-spacing: 0px;
          min-width: 260px;
          max-width: 520px;

          @include mq(sp) {
            width: 345px;
            margin: 32px auto 0;
            margin-top: 20px;
          }
        }
      }
    }
  }
}

// menu-end


// staff

.staff {
  margin: 50px auto 150px;

  .staff-inner {

    .staff-items {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      position: relative;

      @include mq(sp) {
        margin-top: 100px;
        display: block;
      }

      &::before {
        content: "";
        position: absolute;
        background-image: url(./img/wave.png);
        width: 100vw;
        height: 300px;
        top: 72px;
        right: 47px;
        z-index: -1;
        opacity: 0.3;

        @include mq(sp) {
          background-size: 767px;
          height: 216px;
          left: -30px;
        }
      }

      @include mq(sp) {
        &::after {
          content: "";
          position: absolute;
          background-image: url(./img/wave.png);
          width: 100%;
          bottom: 222px;
          right: 47px;
          z-index: -1;
          opacity: 0.3;
          background-size: 767px;
          height: 216px;
          left: -30px;
        }
      }



      .staff-item {
        width: 300px;
        height: 500px;
        margin: 0 30px 0;
        position: relative;
        border: 1px solid $font-color;
        background-color: #fff;

        @include mq(sp) {
          margin: 0 auto;
          border: none;
        }

        .staff-item-img {
          overflow: hidden;

          img {
            width: 300px;
            height: 300px;
            transition: transform 0.3s;

            @include mq(pc) {
              &:hover {
                transform: scale(1.05);
              }
            }
          }
        }

        .staff-text-item {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100px;
          line-height: 1.64;
          letter-spacing: 0;
          text-align: center;
        }

        .staff-btn {
          display: block;
          content: "";
          position: absolute;
          top: 85%;
          left: 50%;
          transform: translate(-50%, -50%);

          .staff-btn-click {
            padding: 0.75em 2em;
            text-align: center;
            text-decoration: none;
            color: #333;
            border: 1px solid #333;
            font-size: 24px;
            display: inline-block;
            border-radius: 0.3em;
            transition: all 0.2s ease-in-out;
            position: relative;
            overflow: hidden;
            background-color: #fff;
            width: 155px;


            &:before {
              content: "";
              background-color: rgba(255, 255, 255, 0.5);
              height: 100%;
              width: 3em;
              display: block;
              position: absolute;
              top: 0;
              left: -4.5em;
              transform: skewX(-45deg) translateX(0);
              transition: none;
            }

            &:hover {
              background-color: #333;
              color: #fff;
              border-bottom: 4px solid darken(#333, 10%);

              &:before {
                animation: sheen 0.5s ease-in-out forwards;
                transition: all 0.5s ease-in-out;
              }
            }
          }
        }

        .staff-profile {

          table {
            tr {
              .staff-profile-title {
                margin-bottom: 30px;
                text-align: center;

                @include mq(sp) {
                  margin-bottom: 10px;
                }
              }

              th {
                display: block;
              }

              td {
                display: block;

                @include mq(sp) {
                  font-size: 12px;
                }

                &:not(:first-child) {
                  padding-bottom: 20px;
                  padding-top: 3px;

                  @include mq(sp) {
                    padding-bottom: 0px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .staff-btn.hidden {
      opacity: 0 !important;
      display: none !important;
    }

    .staff-item1 {
      @include mq(sp) {
        margin-bottom: 30px !important;
      }

      about-item-wrapper1 {

        z-index: 3;

        .staff-btn1 {
          .staff-btn-click1 {
            background-color: #333;
            color: #fff;
            border-bottom: 4px solid darken(#333, 10%);

            &:before {
              transform: skewX(-45deg) translateX(13.5em);
              transition: all 0.5s ease-in-out;
            }
          }
        }
      }

      .staff-profile1 {
        opacity: 0;
        display: none;
        content: "";
        top: -1px;
        left: 268px;
        position: absolute;
        width: 361px;
        height: 500px;
        background-color: #fff;
        margin: 0 30px 0;
        padding: 30px;
        border-top: 1px solid $font-color;
        border-right: 1px solid $font-color;
        border-bottom: 1px solid $font-color;
        transition: opacity 1s ease-in-out;
        z-index: 0;

        @include mq(sp) {
          left: -61px;
          border: none;
          width: 360px;
          top: -1px;
          height: 390px;
          padding-bottom: 0px;
        }
      }
    }

    .staff-item2 {
      about-item-wrapper2 {
        z-index: 3;

        .staff-btn2 {
          .staff-btn-click1 {
            background-color: #333;
            color: #fff;
            border-bottom: 4px solid darken(#333, 10%);

            &:before {
              transform: skewX(-45deg) translateX(13.5em);
              transition: all 0.5s ease-in-out;
            }
          }
        }
      }

      .staff-profile2 {
        opacity: 0;
        display: none;
        content: "";
        top: -1px;
        left: -391px;
        position: absolute;
        width: 361px;
        height: 500px;
        background-color: #fff;
        margin: 0 30px 0;
        padding: 30px;
        border-top: 1px solid $font-color;
        border-left: 1px solid $font-color;
        border-bottom: 1px solid $font-color;
        transition: opacity 1s ease-in-out;
        z-index: 0;

        @include mq(sp) {
          left: -61px;
          border: none;
          width: 360px;
          height: 390px;
          padding-bottom: 0px;
        }
      }
    }
  }
}
















/* キーフレーム 'clip' の定義 */
@keyframes clip {

  0% {
    clip-path: circle(0%);

    border-radius: 50%;
    /* 円 */
  }

  100% {
    border-radius: 0%;
    /* 四角 */
    clip-path: circle(100%);
  }

}




















// news

.news {
  max-width: 750px;
  align-items: center;
  margin: 100px auto 150px;
  letter-spacing: 1px;

  @include mq(sp) {
    width: auto;
    height: auto;
    margin-top: 93px;
  }

  .news__inner {
    margin: 0;

    @include mq(sp) {
      max-width: 490px;
      margin: 0 auto;
    }

    .news-items {

      display: flex;
      gap: 30px;
      flex-wrap: wrap;

      @include mq(sp) {
        margin: 0 auto;

      }

      :nth-of-type(n+4) {
        margin-top: 30px;

        @include mq(sp) {
          margin-top: 0;
        }
      }

      .news-item {
        width: 230px;
        height: 350px;
        position: relative;

        @include mq(sp) {
          margin: 0 auto;
        }

        .news-img {
          overflow: hidden;

          img {
            width: 230px;
            transition: transform 0.3s;

            &:hover {
              transform: scale(1.05);

            }
          }
        }

        .news__text-item {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 17px;
          letter-spacing: 0;
          font-size: 14px;
          line-height: 1.88;

        }

        time {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
        }

      }
    }

    .news__button-wrapper {
      display: flex;
      justify-content: center;

      .news__button {
        padding: 13px 0px;
        border: 1px solid $font-color;
        margin-top: 51px;

        @include mq(sp) {
          margin-top: 46px;
        }

        a {
          font-size: 14px;
          color: $font-color;
          padding: 13px 56px;

        }
      }
    }

  }
}

// news-end






// access

.access {
  width: 100%;
  margin: 0 auto 100px;

  .access__inner {


    .access-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;


      .access-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        max-width: 1200px;
        padding: 0 20px;
        position: relative;

        @include mq(sp) {
          display: block;

        }

        .access-img-wrapper {
          width: 400px;
          height: 300px;
          position: relative;

          @include mq(sp) {
            margin: 0 auto;
            width: 335px;
            height: auto;
          }

          &::after {
            position: absolute;
            content: "";
            top: 0px;
            bottom: 0;
            left: 0;
            right: 0;
            box-shadow: inset 0 0 10px 15px #FFF;

          }

          &::before {
            position: absolute;
            content: "";
            top: -100px;
            left: -100px;
            background-image: url(/dobbys/img/orange.png);
            width: 200px;
            height: 200px;
            z-index: 1;
            animation: fuwafuwa 6s infinite;
          }

          @keyframes fuwafuwa {
            0% {
              transform: translateY(0px);
            }

            50% {
              transform: translateY(-30px);
            }

            100% {
              transform: translateY(0px);
            }
          }

          .access-img {
            width: 100%;
            height: 100%;
            position: relative;

            @include mq(sp) {
              display: block;
              margin: 0 auto;
              align-items: center;

            }


          }
        }

        .access-main {
          width: 350px;
          padding-left: 40px;
          max-width: 100%;
          position: relative;

          @include mq(sp) {
            width: 335px;
            padding-left: 0;
            display: block;
            margin: 40px auto 0;
            max-width: 100%;
          }



          @keyframes fuwafuwa {
            0% {
              transform: translateY(0px);
            }

            50% {
              transform: translateY(-15px);
            }

            100% {
              transform: translateY(0px);
            }
          }

          h4 {
            text-align: center;
            font-weight: bold;
            margin-bottom: 30px;

          }

          table {
            font-size: 14px;
            line-height: 1.7;

            tr {

              th {
                text-align: center;
                padding-right: 15px;
              }

            }
          }
        }
      }
    }

    iframe {
      display: block;
      width: 750px;
      height: 500px;
      margin: 100px auto 0;

      @include mq(sp) {
        width: 90vw;

      }
    }
  }

}

// access-end



#js-submit {
  &.-active {
    background-color: $primary-color;
    color: #fff;
  }
}





.news__button {
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #333;

    a {
      color: #fff !important;
    }

  }
}

.price__button {
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #333;

    a {
      color: #fff !important;
    }

  }
}


// footer

footer {
  height: auto;
  width: 100vw;
  padding-top: 49px;
  display: flex;
  justify-content: center;

  @include mq(sp) {
    width: 100vw;
    padding-top: 40px;
  }

  .footer__inner {
    text-align: center;

    .footer-logo {
      width: 120px;
      margin: 0 auto;
      height: 60px;
      line-height: 40px;
      background-color: #fff;
      position: -webkit-sticky;
      /* Safari向けのプレフィックス */
      position: sticky;
      top: 0;



      .footer-logo__link {
        height: 60px;
        width: 100px;
        position: relative;

        .footer-logo__text {
          padding-top: 10px;
          font-size: 30px;

          @include mq(sp) {
            padding: 10px 0;
          }

          &::after {
            content: "";
            position: absolute;
            background-image: url(../img/wave.png);
            width: 120px;
            height: 30px;
            top: 30px;
            right: 0px;
            z-index: 1000;
            opacity: 0.3;
            background-size: 94% auto;

          }

        }





      }
    }



    .footer__sns {
      margin-top: 4px;
      display: flex;
      justify-content: center;
      height: 24px;

      @include mq(sp) {
        margin-top: 17px;
      }

      .footer__twitter {
        font-size: 24px;
        display: block;

        .fa-twitter {
          padding: 10px 20px;
          transition: opacity 0.3s;

          @include mq(pc) {
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }

      .footer__instagram {

        line-height: 24px;
        display: block;

        .fa-instagram {
          padding: 10px 20px;

        }

      }

      .footer__line {
        font-size: 24px;
        display: block;

        .fa-line {
          padding: 10px 20px;
          transition: opacity 0.3s;

          @include mq(pc) {
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }

    .footer__copy-right {
      margin-top: 29px;

      @include mq(sp) {
        margin-top: 25px;

      }

      small {
        display: inline-block;
        font-size: 12px;
        color: #888;
        padding-bottom: 10px;
      }
    }
  }

  .fa-lg {
    font-size: 24px;
    line-height: 24px;
    padding: 10px 20px;
    transition: opacity 0.3s;

    @include mq(pc) {
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.contact-message {
  text-align: center;
  margin-top: 60px;
  display: none;

  &.error {
    color: red;
  }
}


































// price.html
.header-price {
  width: 100vw;
  height: 60px;
  z-index: 111;
  position: fixed;
  top: 0;
  background: #fff;

  .header__inner {
    height: 60px;
    position: fixed;
    top: 0;
    background: #fff;


    .price-logo {
      height: 60px;
      width: 100vw;


      z-index: 100;
      height: 60px;
      line-height: 40px;
      text-align: center;
      background-color: #fff;



      a {

        img {
          width: 120px;
          position: fixed;
          top: 20px;
          left: 50%;
          transform: translateX(-50px);
        }
      }
    }
  }
}


.price-menu {
  max-width: 1280px;
  margin: 100px auto 150px;
  letter-spacing: 1px;

  .price__inner {



    .price-items {
      max-width: 700px;
      // background-color: #E7728E;

      @include mq(sp) {
        margin: 33px 0 0;
        max-width: 100%;
      }

      .price-wrapper {

        display: flex;

        &:not(:first-child) {
          margin-top: 100px;
        }

        .price-img {
          width: 200px;
          height: 300px;
          position: relative;
          display: inline-block;

          @include mq(sp) {
            display: none;
          }

          .img {
            width: 200px;
            height: 300px;
          }

          .price-cut {

            background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 1) 100%), url(../img/price1.jpg);
            background-size: cover;
            /* 画像をカバーするように設定 */
          }

          .price-color {

            background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 1) 100%), url(../img/price2.jpg);
            background-size: cover;
            /* 画像をカバーするように設定 */
          }

          .price-perm {

            background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 1) 100%), url(../img/price3.jpg);
            background-size: cover;
            /* 画像をカバーするように設定 */
          }

          .price-massage {

            background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 1) 100%), url(../img/price4.jpg);
            background-size: cover;
            /* 画像をカバーするように設定 */
          }

          .price-goods {

            background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 1) 100%), url(../img/price5.jpg);
            background-size: cover;
            /* 画像をカバーするように設定 */
          }
        }

        .price-item {
          overflow: hidden;
          display: inline-block;
          margin-left: 50px;
          padding-bottom: 20px;

          @include mq(sp) {
            margin: 0 auto;
            width: 350px;
          }

          .price-title {
            font-size: 24px;
            margin-top: 20px;
            text-align: center;


            @include mq(sp) {
              width: 345px;
              margin: 0 auto;
              line-height: 1.7;
            }
          }

          .price-text-wrapper {
            border-bottom: 1px solid $font-color;
            padding-bottom: 10px;


            .price-text {
              padding: 37px 5px 0;
              line-height: 1.64;
              letter-spacing: 0px;

              display: flex;

              @include mq(sp) {
                width: 345px;
                margin: 32px auto 0;
                margin-top: 20px;
              }

              span {

                margin-left: auto;
              }
            }

            .price-sub-text {
              font-size: 12px;
              margin-top: 15px;
              opacity: 0.7;
              padding: 0 5px;
            }
          }
        }
      }
    }
  }
}

.price__button-wrapper {
  display: flex;
  justify-content: center;

  .price__button {
    padding: 13px 0px;
    border: 1px solid $font-color;
    margin-top: 51px;

    @include mq(sp) {
      margin-top: 46px;
    }

    a {
      font-size: 14px;
      color: $font-color;
      padding: 13px 56px;

    }
  }
}

#facial-skin-care {
  .price-text-wrapper {
    transition: all 0.3s ease;


  }
}

.drawer-price1:hover {

  background-color: #e5e5e5;

}




// logo-sub
.logo-sub-wrapper {
  display: block;
  width: 100%;

  .logo-sub {
    width: 120px;
    margin: 0 auto;
    z-index: 1000;
    height: 60px;
    line-height: 40px;
    background-color: #fff;
    position: -webkit-sticky;
    /* Safari向けのプレフィックス */
    position: sticky;
    top: 0;

    @include mq(sp) {
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
    }

    .logo-sub__link {
      height: 60px;
      width: 100px;
      position: relative;



      .logo-sub__text {
        padding-top: 10px;
        font-size: 30px;
        text-align: center;

        @include mq(sp) {
          padding: 10px 0;
          width: 120px;
          margin: 0 auto;
        }

        &::after {
          content: "";
          position: absolute;
          background-image: url(../img/wave.png);
          width: 120px;
          height: 30px;
          top: 30px;
          left: 50%;
          transform: translateX(-50%);
          z-index: 100;
          opacity: 0.3;
          background-size: 94% auto;
        }
      }
    }
  }
}

// logo-sub-end










